{% include "header.html" %}

<!-- Filtre-->

<div class="container-fluid p-3 bg-secondary-subtle">
    <form action="{{ url_for('orders.sip_info') }}" method="get">
        <div class="row" id="dataAdd1">

            <div class="col-md-3 ">
                 <div class="row g-3 justify-content-end ">

                    <div class="col-auto ">
                        <label for="firma-filtre1" class="col-form-label filtre " >Firma:</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="firma-filtre1" class="form-control form-control-sm filtre-form " value="{{request.args.get('firma','')}}" name="firma">
                    </div>
                </div>
                <div class="row g-3 justify-content-end ">

                    <div class="col-auto ">
                        <label for="siparis-no1" class="col-form-label filtre"  >Sipariş No:</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="siparis-no1" class="form-control form-control-sm filtre-form " value="{{request.args.get('sipariş_no','')}}" name="sipariş_no">
                    </div>
                </div>


            </div>
            <div class="col-md-3">
                <div class="row g-3 justify-content-end ">
                    <div class="col-auto ">
                        <label for="parca-no1" class="col-form-label filtre" >Ürün Kodu:</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="parca-no1" class="form-control form-control-sm filtre-form" value="{{request.args.get('parca_no','')}}" name="parca_no">
                    </div>
                </div>
                <div class="row g-3 justify-content-end">
                    <div class="col-auto ">
                        <label for="teknik-no1" class="col-form-label filtre" >Teknik Resim No:</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="teknik-no1" class="form-control form-control-sm filtre-form" value="{{request.args.get('resim_no','')}}" name="resim_no">
                    </div>
                </div>
                <div class="row g-3 justify-content-end">
                    <div class="col-auto ">
                        <label for="parca-rev1" class="col-form-label filtre" >Parça Rev:</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="parca-rev1" class="form-control form-control-sm filtre-form" value="{{request.args.get('parca_rev','')}}" name="parca_rev">
                    </div>
                </div>

            </div>

            <div class="col-md-3">
                <div class="row g-3 justify-content-end " >
                    <div class="col-auto">
                        <div class="row g-3 justify-content-end ">
                            <div class="col-auto ">
                                <label for="b-tarih1" class="col-form-label filtre" >Başlangıç Tarihi:</label>
                            </div>
                            <div class="col-auto">
                                <input type="date" id="b-tarih1" class="form-control form-control-sm filtre-form" value="{{request.args.get('b_tarih','')}}" name="b_tarih">
                            </div>
                        </div>
                        <div class="row g-3 justify-content-end ">
                            <div class="col-auto ">
                                <label for="s-tarih1" class="col-form-label filtre" >Bitiş Tarihi:</label>
                            </div>
                            <div class="col-auto">
                                <input type="date" id="s-tarih1" class="form-control form-control-sm filtre-form" value="{{request.args.get('s_tarih','')}}" name="s_tarih">
                            </div>
                        </div>
                    </div>
                    <div class="col-auto ">
                        <select class="form-select form-select-sm filtre-form" aria-label="Small select example"  name="statu">
                            <option value="2" {% if request.args.get('statu') == '2' %}selected{% endif %}>Satır Statüsü</option>
                            <option value="İşleme Alındı" {% if request.args.get('statu') == 'İşleme Alındı' %}selected{% endif %}>İşleme Alındı</option>
                            <option value="Üretim Planına Alındı" {% if request.args.get('statu') == 'Üretim Planına Alındı' %}selected{% endif %}>Üretim Planına Alındı</option>
                            <option value="Lot Atandı" {% if request.args.get('statu') == 'Lot Atandı' %}selected{% endif %}>Lot Atandı</option>
                            <option value="Ara Kalite Kontrol" {% if request.args.get('statu') == 'Ara Kalite Kontrol' %}selected{% endif %}>Ara Kalite Kontrol</option>
                            <option value="Dış Operasyon" {% if request.args.get('statu') == 'Dış Operasyon' %}selected{% endif %}>Dış Operasyon</option>
                            <option value="Kaplama KM" {% if request.args.get('statu') == 'Kaplama KM' %}selected{% endif %}>Kaplama KM</option>
                            <option value="Final KM" {% if request.args.get('statu') == 'Final KM' %}selected{% endif %}>Final KM</option>
                            <option value="Paketleme Sevkiyat" {% if request.args.get('statu') == 'Paketleme Sevkiyat' %}selected{% endif %}>Paketleme Sevkiyat</option>

                        </select>

                    </div>
                </div>


            </div>
            <div class="col-md-3">
                <div class="row g-3 justify-content-end">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-secondary btn-sm ara" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .85rem;">Ara</button>
                    </div>
                </div>
                <div class="row g-3 justify-content-end pt-3" style="display:none;">
                    <div class="col-auto">
                        <a href="{{ url_for('orders.firma_ekle')}}"><button type="button" class="btn btn-primary sip-ekle align-middle" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .85rem;">Firma Ekle</button></a>
                    </div>
                </div>

                <div class="row g-3 justify-content-end pt-1" style="display:none;">
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary sip-ekle align-middle" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .85rem;" data-bs-toggle="modal" data-bs-target="#sipmodal">Sipariş Ekle</button>
                    </div>
                </div>

            </div>

        </div>
    </form>
</div>

<!-- Tablo-->

<div class="card mt-4 shadow-sm">
    <div class="card-body p-3">
        <h2 class="mb-4">Sipariş Satır Listesi</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-mrp align-middle">
            <thead>
                <tr>
                    <th scope="col">Sipariş No</th>
                    <th scope="col">Müşteri</th>
                    <th scope="col">Parça Tanımı</th>
                    <th scope="col">Parça Kodu</th>
                    <th scope="col">Teknik Resim No</th>
                    <th scope="col">Rev No</th>
                    <th scope="col">Satır Statüsü</th>
                    <th scope="col">Termin Tarihi</th>
                    <th scope="col">Sipariş Adedi</th>
                    <th scope="col">Sevk Adedi</th>
                    <th scope="col">Kalan Adet</th>
                    <th scope="col">Detay</th>
                </tr>
            </thead>
            <tbody>
                {% for siparis in orders_lines %}
                <tr>
                    <td>{{ siparis.sip.sip_no  }}</td>
                    <td>{{ siparis.sip.firma.name  }}</td>
                    <td>{{ siparis.urn.urn_adi }}</td>
                    <td>{{ siparis.urn.urn_no }}</td>
                    <td>{{ siparis.urn.tkr_no  }}</td>
                    <td>{{ siparis.urn.tkr_rev_no  }}</td>
                    <td>{{ siparis.satr_stat }}</td>
                    <td>{{ siparis.ter_tarh }}</td>
                    <td>{{ siparis.ad }}</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample-{{loop.index}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Detay
                        </a>
                    </td>
                </tr>
                <tr class="collapse" id="collapseExample-{{loop.index}}">
                    <td colspan="5">
                        <div class="card card-body">
                            <table class="table table-sm table-bordered mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Lot No</th>
                                        <th>Üretim Adedi</th>
                                        <th>Üretim Tarihi</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center px-3 py-2">
        <small class="text-muted">Toplam Kayıt: {{ toplam_kayit }}</small>
        <nav>
        <ul class="pagination">
            {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('orders.sip_info', page=page-1, firma=request.args.get('firma',''), sipariş_no=request.args.get('sipariş_no',''), parca_no=request.args.get('parca_no',''), resim_no=request.args.get('resim_no',''), parca_rev=request.args.get('parca_rev',''), b_tarih=request.args.get('b_tarih',''), s_tarih=request.args.get('s_tarih',''), statu=request.args.get('statu','')) }}">Önceki</a>
                </li>
            {% endif %}

            {% for p in page_to_render %}
                {% if p == 'p' %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>

                {% else %}
                    <li class="page-item {% if p == page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('orders.sip_info', page=p, firma=request.args.get('firma',''), sipariş_no=request.args.get('sipariş_no',''), parca_no=request.args.get('parca_no',''), resim_no=request.args.get('resim_no',''), parca_rev=request.args.get('parca_rev',''), b_tarih=request.args.get('b_tarih',''), s_tarih=request.args.get('s_tarih',''), statu=request.args.get('statu','')) }}">{{ p }}</a>
                    </li>
                {% endif %}

            {% endfor %}


            {% if page < total_pages %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('orders.sip_info', page=page+1, firma=request.args.get('firma',''), sipariş_no=request.args.get('sipariş_no',''), parca_no=request.args.get('parca_no',''), resim_no=request.args.get('resim_no',''), parca_rev=request.args.get('parca_rev',''), b_tarih=request.args.get('b_tarih',''), s_tarih=request.args.get('s_tarih',''), statu=request.args.get('statu','')) }}">Sonraki</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    </div>
</div>







{% include "footer.html" %}
