{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<!-- Filtreleme Formu -->
<form method="get" action="{{ url_for('stock.stok_hareket') }}">
  <div class="container mt-4">
    <div class="row align-items-end mb-3 p-3" style="background-color: #f1f1f1; border-radius: 12px;">
      <div class="col-md-2">
        <label for="lotNo" class="form-label">Lot No</label>
        <input type="text" class="form-control" name="lotno" id="lotNo" placeholder="Lot No">
      </div>
        <div class="col-md-2">
        <label for="pdkNo" class="form-label">PDK No</label>
        <input type="text" class="form-control" name="pdkno" id="pdkNo" placeholder="PDK No">
      </div>
      <div class="col-md-2">
        <label for="parcaAdi" class="form-label">Parça Adı</label>
        <input type="text" class="form-control" name="parcaadi" id="parcaAdi" placeholder="Parça Adı">
      </div>
      <div class="col-md-2">
        <label for="urunKodu" class="form-label">Ürün Kodu</label>
        <input type="text" class="form-control" name="urunkodu" id="urunKodu" placeholder="Ürün Kodu">
      </div>
      <div class="col-md-2">
        <label for="teknikResimNo" class="form-label">Teknik Resim No</label>
        <input type="text" class="form-control" name="teknikresimno" id="teknikResimNo" placeholder="Teknik Resim No">
      </div>
      <div class="col-md-1">
        <label for="revNo" class="form-label">Rev No</label>
        <input type="text" class="form-control" name="revno" id="revNo" placeholder="Rev No">
      </div>
      <div class="col-md-1 d-flex align-items-end">
        <button class="btn btn-info w-100" type="submit" style="margin-bottom:4px;">Bul</button>
      </div>
    </div>

    <div style="height: 40px;"></div>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="container mb-3">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Kapat"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle">
        <thead style="background-color: #007bff; color: white; border-radius: 16px;">
          <tr style="border-radius: 16px; overflow: hidden;">
            <th style="border-top-left-radius: 16px;">Lot No</th>
            <th>Parça Adı</th>
            <th>Ürün Kodu</th>
            <th>Teknik Resim No</th>
            <th>Rev No</th>
            <th>PDK No</th>
            <th>Adet</th>
            <th>Güncel Operasyon</th>
            <th>Sonraki Operasyon</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for p in pdk %}
          {% if p.pdkbol %}
          {% for a in p.pdkbol %}
          <tr>
            <td>{{ a.ust_pdk.lot.lot_no }}</td>
            <td>{{ a.ust_pdk.lot.proje.urn_adi }}</td>
            <td>{{ a.ust_pdk.lot.proje.urn_no }}</td>
            <td>{{ a.ust_pdk.lot.proje.tkr_no }}</td>
            <td>{{ a.ust_pdk.lot.proje.tkr_rev_no }}</td>
            <td>{{ a.alt_pdk_no}}</td>
            <td>{{ a.ad }}</td>
            <td>{{opr[p.id~ "-" ~a.id]}}</td>
            <td>{{ sonraki_opr[p.id~ "-" ~a.id]}}</td>
            <td>
              <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#sevkModalalt{{a.id}}">Alternatif Rota</button>
              <!-- Modal -->
              <div class="modal fade" id="sevkModalalt{{a.id}}" tabindex="-1" aria-labelledby="sevkModalLabelalt{{a.id}}" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <form method="post" action="/sevk-et/{{a.id}}">
                      <div class="modal-header">
                        <h5 class="modal-title" id="sevkModalLabelalt{{a.id}}">PDK Sevk Bilgileri</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
                      </div>
                      <div class="modal-body">
                        <div class="mb-2"><strong>PDK No:</strong> {{ a.alt_pdk_no }}</div>
                        <div class="mb-2"><strong>Lot No:</strong> {{ a.ust_pdk.lot.lot_no }}</div>
                        <div class="mb-2"><strong>Parça Adı:</strong> {{ a.ust_pdk.lot.proje.urn_adi }}</div>
                        <div class="mb-2"><strong>Adet:</strong> {{ a.ad }}</div>
                        <div class="mb-2"><strong>Rev No:</strong> {{ a.ust_pdk.lot.proje.tkr_rev_no }}</div>
                        <div class="mb-2"><strong>Sonraki Operasyon:</strong>
                          <select class="form-select mt-2" name="sonraki_opr">
                            {% for opr in p.lot.proje.opr %}
                              <option value="{{ opr.oprsyn.id }}">{{ opr.oprsyn.opr_name }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                        <button type="submit" class="btn btn-warning">Sevk Et</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </td>
            <td><a href="{{ url_for('stock.stok_sevk_alt_pdk', alt_pdk_id=a.id) }}"><button type="button" class="btn btn-sm btn-info" >Sonraki Operasyona Sevk Et</button></a></td>

          </tr>


          {% endfor %}
          {% else %}
          <tr>
            <td>{{ p.lot.lot_no }}</td>
            <td>{{ p.lot.proje.urn_adi }}</td>
            <td>{{ p.lot.proje.urn_no }}</td>
            <td>{{ p.lot.proje.tkr_no }}</td>
            <td>{{ p.lot.proje.tkr_rev_no }}</td>
            <td>PDK-{{p.tarh.year}}-{{ "%04d"|format(p.id) }}</td>
            <td>{{ p.ad }}</td>
            <td>{{opr[p.id]}}</td>
            <td>{{ sonraki_opr[p.id]}}</td>
            <td>
              <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#sevkModal{{p.id}}">Alternatif Rota</button>
              <!-- Modal -->
              <div class="modal fade" id="sevkModal{{p.id}}" tabindex="-1" aria-labelledby="sevkModalLabel{{p.id}}" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <form method="post" action="/sevk-et/{{p.id}}">
                      <div class="modal-header">
                        <h5 class="modal-title" id="sevkModalLabel{{p.id}}">PDK Sevk Bilgileri</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
                      </div>
                      <div class="modal-body">
                        <div class="mb-2"><strong>PDK No:</strong> PDK-{{p.tarh.year}}-{{ "%04d"|format(p.id) }}</div>
                        <div class="mb-2"><strong>Lot No:</strong> {{ p.lot.lot_no }}</div>
                        <div class="mb-2"><strong>Parça Adı:</strong> {{ p.lot.proje.urn_adi }}</div>
                        <div class="mb-2"><strong>Adet:</strong> {{ p.ad }}</div>
                        <div class="mb-2"><strong>Rev No:</strong> {{ p.lot.proje.tkr_rev_no }}</div>
                        <div class="mb-2"><strong>Sonraki Operasyon:</strong>
                          <select class="form-select mt-2" name="sonraki_opr">
                            {% for opr in p.lot.proje.opr %}
                              <option value="{{ opr.oprsyn.id }}">{{ opr.oprsyn.opr_name }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                        <button type="submit" class="btn btn-warning">Sevk Et</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </td>
            <td><a href="{{ url_for('stock.stok_sevk', pdk_id=p.id) }}"><button type="button" class="btn btn-sm btn-info" >Sonraki Operasyona Sevk Et</button></a></td>

          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</form>

<!-- Sayfalandırma -->
<div class="card-footer d-flex justify-content-between align-items-center px-3 py-2">
        <small class="text-muted">Toplam Kayıt: {{ toplam_kayit }}</small>

    <!-- Sayfalandırma -->
    <nav aria-label="Sayfalandırma">
      <ul class="pagination justify-content-center">
        {% if pagination.has_prev %}
          <li class="page-item">
            <a class="page-link" href="?page={{ pagination.prev_num }}" aria-label="Önceki">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}
        {% for p in pagination.iter_pages() %}
          {% if p %}
            {% if p == pagination.page %}
              <li class="page-item active" aria-current="page">
                <span class="page-link">{{ p }}</span>
              </li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
            {% endif %}
          {% else %}
            <li class="page-item disabled"><span class="page-link">...</span></li>
          {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ pagination.next_num }}" aria-label="Sonraki">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>

</div>


{% include "footer.html" %}