{% from "bootstrap5/form.html" import render_form %}{% include "header.html" %}
<div class="container mt-4">

    <!-- Lot Bilgileri Kartı -->
    <div class="card mb-4">
        <div class="card-body">
            <div class="row g-3">
                <div class="col-md-3"><strong>Lot No:</strong> {{lot.lot_no}}</div>
                <div class="col-md-3"><strong>Parça Adı:</strong> {{lot.proje.urn_adi}}</div>
                <div class="col-md-3"><strong>Parça Kodu:</strong> {{lot.proje.urn_no}}</div>
                <div class="col-md-3"><strong>Rev No:</strong> {{lot.proje.tkr_rev_no}}</div>

            </div>
            <div class="row g-3 mt-2">
                <div class="col-md-3"><strong>CNC No:</strong> {{lot.plan.cnc.cnc_no}}</div>
                <div class="col-md-3"><strong>Proje No:</strong> {{lot.proje.prj_no}}</div>
                <div class="col-md-3"><strong>Sipariş No:</strong>{% for l in lot.plan.planstr %} {{l.str.sip.sip_no}}{% endfor %}</div>
                <div class="col-md-3"><strong>Sipariş Adedi:</strong> {{lot.plan.ad}}</div>

            </div>
            <div class="row g-3 mt-2">

                <div class="col-md-3"><strong>Ayar Iskarta Adedi:</strong> {{lot.fire_ad}}</div>
                <div class="col-md-3"><strong>İmalat Süresi:</strong> {{lot.sure}}</div>
                <div class="col-md-3"><strong>Üretim Adedi:</strong> {{lot.ad}}</div>
                <div class="col-md-3"><strong>Son İşlem Tarihi:</strong> {{son_uretim.tarih.strftime("%d.%m.%Y")}}</div>
            </div>

        </div>
    </div>

    <!-- Flash Mesajları -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning text-center">
        {% for message in messages %}
            {{ message }}<br>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <!-- Form Kartı -->
    <div class="card">
        <div class="card-body">
            <form action="{{url_for('production.lot_info_add', lot_id=lot.id)}}" method="post">
                <div class="row mb-3">
                    <div class="col-md-3">
                        <label class="form-label"><strong>Güncel İmalat Süresi (Sn):</strong></label>
                        <input type="number" min="0" class="form-control form-control-sm"  value="{{lot.sure}}" name="iml_sure">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label"><strong>Ayar Iskartası Girişi (Ad):</strong></label>
                        <input type="number" min="0" class="form-control form-control-sm" value="0"  name="ayar_fire">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label"><strong>Ayar Yapan:</strong></label>
                        <select class="form-select form-select-sm" name="operator">
                            <option value="" {% if lot.operator_id == '' %}selected{% endif %}>Operatör</option>
                            {% for op in operator %}
                            <option value="{{op.id}}" {% if lot.operator_id == op.id %}selected{% endif %}>{{op.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label"><strong>Giriş Yapan Personel</strong></label>
                        <select class="form-select form-select-sm" name="personel">
                            <option value="">Giriş Yapan Personel</option>
                            {% for op in operator %}
                            <option value="{{op.id}}">{{op.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                        <label class="form-label"><strong>Üretim Adedi:</strong></label>
                        <input type="number" min="0" class="form-control form-control-sm" name="ur_ad" required>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label"><strong>Başlangıç Saati:</strong></label>
                        <input type="time" id="baslangic_saat" name="baslangic_saat" value="{{ son_uretim.tarih.strftime('%H:%M') }}" class="form-control form-control-sm" disabled >
                    </div>
                    <div class="col-md-3">
                        <label class="form-label"><strong>Bitiş Tarihi:</strong></label>
                        <input type="date" class="form-control form-control-sm filtre-form" value="{{son_uretim.tarih.strftime('%Y-%m-%d')}}" name="bitis_tarih">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label"><strong>Bitiş Saati:</strong></label>
                        <input type="time" id="bitis_saat" name="bitis_saat" class="form-control form-control-sm" required>
                    </div>
                </div>
                <div class="row mt-4">

                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Onayla</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

{% include "footer.html" %}