{% from "bootstrap5/form.html" import render_form %}{% include "header.html" %}


<div class="container my-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for l in lot %}
        <div class="col-auto">
            <div class="card mb-3 shadow-lg" >
                <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="120" preserveAspectRatio="xMidYMid slice" role="img" width="120%" >
                    <title></title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="50%" y="50%" fill="#eceeef" dy=".5em"></text>
                </svg>
                <div class="card-body">
                    <h3 style="border-bottom: 2px solid black;">{{l.plan.cnc.cnc_no}}</h3>
                    <p class="card-text"><strong>Lot No:</strong> {{l.lot_no}}</p>
                    <p class="card-text"><strong>Teknik Resim No / Rev No:</strong> {{l.proje.tkr_no}} / {{l.proje.tkr_rev_no}}</p>
                    <p class="card-text"><strong>Parça Tanımı:</strong> {{l.proje.urn_adi}}</p>
                    <p class="card-text"><strong>Üretim Adedi:</strong> {{l.ad}}</p>
                    <p class="card-text"><strong>Uygunsuz Adet:</strong> {{l.fire_ad}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group me-2">

                            <a href="{{url_for('production.lot_info_add', lot_id=l.id)}}"><button type="button" class="btn btn-sm btn-outline-primary" >Üretim Gir</button></a>
                            <a href="{{url_for('production.bekleme_add', lot_id=l.id)}}"><button type="button" class="btn btn-sm btn-outline-primary">Bekleme Gir</button></a>
                            <a href="{{url_for('production.lot_print', lot_id=l.id)}}" class="btn btn-sm btn-outline-primary">Etiket Yazdır</a>
                            <a href="{{url_for('production.uretim_bitir', lot_id=l.id)}}" class="btn btn-sm btn-outline-danger">Üretimi Bitir</a>
                        </div>

                        {% if sureler[l.id] < 60 %}
                        <small class="text-body-secondary">{{sureler[l.id]|int}} dk</small>
                        {% else %}
                        <small class="text-body-secondary">{{sureler[l.id]|int // 60}} saat {{sureler[l.id]|int % 60}} dk</small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


        {% endfor %}
    </div>
</div>


{% include "footer.html" %}

